[2012-11-07 09:29] gabrielappc opened #1 "Cannot get stats later than October 22nd"
I have been using this utility for a coupe of weeks, but have noticed that i can no longer view stats past October 22nd

[2012-11-09 17:32] #1 closed, assigned to nobody

[2013-10-03 07:23] jdalton opened #2 "Still adding downloads to the month of Sept even though it's well into Oct."
I noticed it's still adding downloads to the month of Sept even though its already Oct. 3rd.

[2013-11-07 22:06] #2 closed, assigned to nobody

[2013-11-07 22:07] jdalton opened #3 "Site failing to load resources."
Just a heads up I noticed [the site](http://npm-stat.vorb.de/charts.html?package=lodash) is failing to load resources.

[2013-11-08 07:18] #3 closed, assigned to nobody

[2013-11-11 12:35] ForbesLindesay opened #4 "Stats by version"
It would be really good to be able to get a picture of which versions of a package are being used.  Do you know if that information is available in npm?  If so we could draw a chart of versions people are downloading over time.

[2013-11-11 21:22] #4 closed, assigned to nobody

[2013-12-27 23:54] jdalton opened #5 "Heads-up npm registry changes"
Just wanted to give you a heads up to npm registry changes.
See http://blog.npmjs.org/post/71267056460/fastly-manta-loggly-and-couchdb-attachments.

There is a note about changes to logging download counts I'm not sure if it will affect you or not. I have noticed all download counts drastically down compared to normal, though I don't know if it's just the holidays or if it's something mucked up wi

[2014-01-19 23:23] #5 closed, assigned to nobody

[2014-01-28 12:34] fini opened #6 "Monthly charts has incorrect labels"
The last month label for each year is incorrect. Nov 2013, Dec 2014, Jan 2014...

Cheers!

[2014-01-28 14:38] #6 closed, assigned to nobody

[2014-03-11 12:25] PaoloMasci opened #7 "query about the reliability of stats"
Dear Paul,

Thanks for the npm-stat.com service.

Could you say something about the reliability of the statistics. That is, what is the primary source of the statistics, and how reliable is this source? I'm asking this question because we noticed that the statistics changed for our pvsio-web package (e.g., in December 2013, npm-stat.com reported over 1200 downloads, while now it says barely 400!)

[2014-03-11 13:06] #7 closed, assigned to nobody

[2014-09-20 13:48] pvorb opened #10 "npm-stat is now sponsored"
npm-stat is now officially sponsored by Stormpath!

I just added a link to the site on the top right corner. If anybody doesn't like it, please tell me here and we'll try to find a solution.

I'll leave this issue open for several weeks and if there are no complaints, it will stay as it is.

[2014-10-30 09:07] #10 closed, assigned to nobody

[2015-03-30 17:26] techfort opened #11 "Date range"
Hi there, great project! It'd be interesting to be able to select a date range and check stats for that period.
And sorry if the facility exists (and somehow i don't see it)

[2015-03-30 21:39] pvorb commented on #11
There is such a facility indeed, but I was too lazy to give it some UI controls, so it isn't mentioned anywhere. You can add an additional parameter `period` to the URL, which may contain two dates in ISO 8601 format (only the date without the time) separated by a colon, e.g. `&period=2013-01-01:2014-01-01`.

I think I'm going to hack some `<input type=date>` based solution right now...

[2015-03-30 21:41] pvorb commented on #11
PS: Here are two full example URLs.

http://npm-stat.com/charts.html?author=pvorb&period=2013-01-01:2013-12-31
http://npm-stat.com/charts.html?package=clone&period=2013-01-01:2013-12-31

[2015-03-30 22:47] pvorb commented on #11
The changes from commit 9283eb3b2110c6b6d43b5ec9a6d2f1a906835cbf are live now: http://npm-stat.com/

The URL format has changed to:

http://npm-stat.com/charts.html?author=pvorb&from=2013-01-01&to=2013-12-31
http://npm-stat.com/charts.html?package=clone&from=2013-01-01&to=2013-12-31

[2015-03-31 05:38] techfort commented on #11
Hi Paul, thanks for the prompt response!
If I look up this url http://npm-stat.com/charts.html?package=lokijs&author=techfort&from=2015-01-01&to=2015-03-30 I would expect data for Jan 1st to March 30th 2015, but I get the whole thing since 2013. Am I doing something wrong?

[2015-03-31 06:12] pvorb commented on #11
I get the correct results so maybe dropping the cache could solve your issue.

[2015-03-31 06:15] techfort commented on #11
Yep, ctrl-R did it. Thanks man!

On Tue, Mar 31, 2015 at 7:12 AM, Paul Vorbach <notifications@github.com>
wrote:

[2015-03-31 06:15] #11 closed

[2015-04-13 09:45] 75lb opened #12 "graphs don't seem to display any more"
on the author page i'm not seeing weekly and monthly stats..

[2015-04-13 18:07] pvorb commented on #12
Do you still see no weekly and monthly stats? I do. What browser are you using?

[2015-04-13 22:13] 75lb commented on #12
sorry, i should have provided more info.. i'm seeing the error in the latest Chrome Canary with this URL http://npm-stat.com/charts.html?author=75lb..

![screen shot 2015-04-13 at 23 13 05](https://cloud.githubusercontent.com/assets/1247980/7126627/b2c486ca-e232-11e4-84f9-225a0da2d590.png)

[2015-04-14 18:00] pvorb commented on #12
I updated highcharts to version 3.0.10. Does this solve your problem? (Just a wild guess, as I'm not willing to install Canary. I won't see it as my fault until it shows up in Chrome stable.)

[2015-04-15 08:40] 75lb commented on #12
works, thanks

[2015-04-15 08:40] #12 closed

[2015-04-15 19:34] pvorb commented on #12
Haha, great! :)

[2015-06-09 22:54] jdalton opened #14 "Update readme example."
Underscore's no longer the most depended on package in npm:
https://github.com/pvorb/npm-stat.com/commit/ced32fb4e62ee758e9df713eb3f4b95f152565d7#diff-04c6e90faac2675aa89e2176d2eec7d8R10

[2015-06-10 21:45] pvorb commented on #14
:+1: Congratulations!

[2015-06-10 21:48] pvorb commented on #14
Fixed by 5b9f2fd5f7154e84a2c01389d003f68232ee82fe

[2015-06-10 21:48] #14 closed

[2015-06-10 22:07] jdalton commented on #14
:dancer:

[2015-08-17 00:50] jpodwys opened #15 "Disappearing Dates"
Steps to reproduce:

1. Search for a package by name (without specifying a date range)
2. Notice the included dates go up through today
3. From the same screen, search for another package like in step 1
4. Notice that the new package only shows stats for up through yesterday
5. Repeat and notice that stats keep showing for 1 fewer day each time

I've confirmed that this behavior is not due to no s

[2015-08-17 20:00] pvorb commented on #15
Thank you for the detailed description. Unfortunately, I'm not able to reproduce your problem.

What browser (version) are you using?

[2015-08-17 20:02] jpodwys commented on #15
Thanks for the quick response. I'm on a Mac using Chrome version 44.0.2403.155 (64-bit).

[2015-08-20 02:51] jpodwys commented on #15
Confirmed the behavior again today. The date field decrements by one day on subsequent queries. I'll look into a little more.

[2015-08-20 03:30] jpodwys commented on #15
OK here's the problem I'm experiencing:

[code]

outputs `Mon Aug 17 2015 18:00:00 GMT-0600 (MDT)`

Notice that the input date says the 18th and the output date, which is used to build the query string, says the 17th.

[2015-08-26 16:29] #15 closed

[2015-12-18 08:44] jdalton opened #16 "Issues with large results"
I'm noticing http://npm-stat.com/charts.html?package=&author=jdalton&from=&to= is starting to fail with:

[2015-12-19 02:14] fkling opened #17 "Date selector broken for timezones < GMT"
If I click on "Show charts", every time both dates are decreased by one day:

![screen shot 2015-12-18 at 6 11 16 pm](https://cloud.githubusercontent.com/assets/179026/11910749/d60afee0-a5b2-11e5-85f7-36c9a3dcffe3.png)
![screen shot 2015-12-18 at 6 11 26 pm](https://cloud.githubusercontent.com/assets/179026/11910750/d787e76a-a5b2-11e5-83df-4d7f5b6a934e.png)

Which means that I actually have to add

[2015-12-19 03:40] jdalton commented on #16
Annd it's resolved.

[2015-12-19 03:40] #16 closed

[2015-12-20 22:48] pvorb commented on #16
I didn't have the time to look into this. Probably there was a problem in npm's API. Maybe you should try to get fewer downloads in the future. ;)

[2016-01-22 13:16] GuillaumeLeclerc opened #18 ""Imaginary" downloads"
Hello,

Some charts shows downloads months before the first release of npm packages. How can it be possible. It make me reconsider the accuracy of this tool.

Thank you

[2016-01-22 16:21] pvorb commented on #18
Can you give me examples so I can have a look?

npm-stat.com just shows the numbers it gets from npm. I can't verify that those are correct.

Guillaume Leclerc <notifications@github.com> schrieb:

[2016-01-22 17:10] GuillaumeLeclerc commented on #18
`vue-google-maps`. The repo was created about 1 month ago and shows download in july.

There is no such a bug on the other repo at npm-stats.com.

[2016-01-24 01:46] pvorb commented on #18
I can't see any downloads in July. npm-stats.com shows exactly the same data.

[2016-01-24 09:17] GuillaumeLeclerc commented on #18
I understand what happened. I filled the package name and owner name. So I got the stats for the owner instead of the package.

I think it would be good to state clearly we should fill one of them and not both.

[2016-01-25 01:31] pvorb commented on #18
I should improve the usability by preventing setting both author and package name.

[2016-02-22 23:12] jdalton opened #19 "Where are you getting dload stats from"
Hey @pvorb,

I know over the years download stats have changed a bit.

Where are you getting the data from now?
Is it isaacs.iriscouch.com or api.npmjs.org/downloads/?

[2016-02-22 23:23] pvorb commented on #19
All numbers are gathered from api.npmjs.org/downloads/. registry.npmjs.org is used to get the list of packages for a user.

Is there something wrong about the numbers?

[2016-02-22 23:26] jdalton commented on #19
More curious than anything. I see https://www.npmjs.com/package/lodash that it reports 22,912,485 downloads in the last month while http://npm-stat.com/charts.html?package=lodash reports 15,744,403.

[2016-02-22 23:26] #19 closed

[2016-02-23 00:05] pvorb commented on #19
It's more or less a problem of the wording.

On npm-stat.com the last bar shows all downloads of the current month. That means the last bar in the month chart shows all downloads from February 1st until today.

On npmjs.com "last month" actually means "last 30/31 days" which is 8 additional days of January in our case.

You can verify caluclation by running opening http://npm-stat.com/downloads/ra

[2016-02-23 00:14] jdalton commented on #19
Ah nice!

[2016-05-05 09:27] mh-cbon opened #23 "does not work with public scope"
Hi,

unsure about the reason (maybe npm does not provide those results), but publicly scoped package wont show up.

Also i noticed some difficulties with characters encoding after two submits (see @ / etc).

[2016-06-10 15:44] mkay581 opened #24 "More details of how a download was counted"
Great stats tool! After reading [this article](http://blog.npmjs.org/post/92574016600/numeric-precision-matters-how-npm-download-counts) posted about the data this tool represents, it makes me wonder if there is a way to modify this tool to display where each download was originated from. More specifically, I'm curious to know whether or not a download was made by npm's internal server caching, a

[2016-06-10 17:05] pvorb commented on #24
@mkay581 I don't think that is possible. All numbers come from this microservice [npm/download-counts](https://github.com/npm/download-counts).

[2016-06-10 17:05] #24 closed

[2016-07-28 22:54] #23 closed

[2016-07-28 22:57] pvorb commented on #23
I added support for scoped packages. Once npm/download-counts#23 gets solved, they should automatically show up.

[2016-07-31 04:46] clavecoder opened #27 "Scoped Packages?"
The [Angular team] has started using [scoped packages], but **npm-stat** [can't see them]. Could support be added for scoped packages?

[Angular team]: http://stackoverflow.com/questions/36667258/understanding-npm-package-prefix-angular-router
[scoped packages]: https://docs.npmjs.com/misc/scope
[can't see them]: https://npm-stat.com/charts.html?package=%40angular%2Fcore&from=2015-07-30&to=2016-07

[2016-07-31 20:19] pvorb commented on #27
@clavecoder This also has been asked in issue #23.

It's a general issue with npm at the moment. See npm/download-counts#23 for more info on this issue.

[2016-07-31 20:19] #27 closed

[2016-07-31 20:58] pvorb commented on #18
This is fixed in the latest version

[2016-07-31 20:58] #18 closed

[2016-07-31 23:00] clavecoder commented on #27
Sorry, missed it. Maybe add "Scoped Packages" to the title? I've subscribed to https://github.com/npm/download-counts/issues/23. Look like a hot button item all around. Interesting that TS is moving there too.

[2016-07-31 23:09] pvorb commented on #27
I'm no fan of requiring users to skim over existing issues before they are allowed to ask questions. If something is unclear, feel free to ask. ;) I've edited the other issue, though, as you suggested.

Definitely. I'd also appreciate if scoped packages would become 1st class citizens soon.

[2016-08-09 23:02] pvorb commented on #17
@fkling I refactored the entire code and now wasn't able to reproduce the problem. To reproduce it, I tried to change my time zone to PDT, but the dates did not change after repeated clicks on "Show charts". Could you please confirm that you are also no longer seeing the problem?

[2016-08-10 15:20] fkling commented on #17
Yes, I can confirm that it works as expected now. Thank you!

[2016-08-10 15:20] #17 closed

[2016-08-11 21:24] pvorb commented on #17
Great to hear.

[2016-08-14 03:18] jdalton opened #33 "Days off by one"
Today is Saturday August 13 but the display shows:
<img width="408" src="https://cloud.githubusercontent.com/assets/4303/17646915/03b143c6-6193-11e6-9e58-cc1bd0dd91b5.png">

[2016-08-14 23:37] pvorb commented on #33
This is odd. I must have made a mistake when creating Date objects from YYYY-MM-DD date strings from npm. I switched from using plain `new Date(str)` to moment.js.

Can you please give me the following information, so I can try to reproduce the behavior you see:

- What's your timezone?
- When are you seeing this? (Always, around midnight, ...)
- What were the values of the `from` and `to` paramet

[2016-08-15 02:33] jdalton commented on #33
I'm in PDT. This happens any time (doesn't seem to be a near midnight issue) I can see this by just moving the date range out a bit from the current date (though it's still off on the default range).

[2016-08-29 01:12] jdalton commented on #33
Any updates?

[2016-09-21 00:43] tunnckoCore opened #34 "Create and host API?"
I mean, npm-stat.com to uses its API, and the API itself can also use the great [doowb/downloads-stats](http://ghub.io/downloads-stats).

Or if something more advanced is needed http://ghub.io/npm-api

Just suggestion :)

[2016-09-21 06:41] pvorb commented on #34
Both links lead to a 404. I don't get what you're trying to suggest. Can you elaborate?

[2016-09-25 04:49] jdalton commented on #33
Ping.

[2016-09-25 21:07] pvorb commented on #33
@jdalton I have other priorities at the moment, but I welcome PRs.

[2016-09-25 21:08] #34 closed

[2016-09-26 00:24] tunnckoCore commented on #34
What I can mean. I mean to up one server with API, and the site to use that API, instead everything to be in that repo and be client jquery-ish thing.

[2016-09-26 16:44] jdalton commented on #33
Cool. I'll give it a look.

[2016-10-02 07:21] wamatt opened #35 "Feature: top charts"
An idea, feel free to use or not. Might be nice to see a chart of top packages over the last year.

Thinking along these lines http://www.tiobe.com/tiobe-index/

[2016-10-04 18:35] pvorb commented on #35
You can already compare any packages you want, e.g. https://npm-stat.com/charts.html?package=angular&package=react&package=vue

If you are talking about a comparison of the most downloaded packages of the last year, that will be a problem. There's no backend other than a nginx proxy right now, so I think that wouldn't play nicely with the current approach.

[2016-10-04 18:35] #35 closed

[2016-10-05 00:52] wamatt commented on #35
Thats really good to know. Ty!

I would just add, it does take some work to manually create the top lists and compare them, so feature wise it's not quite an equality.

[2016-10-05 21:10] pvorb commented on #35
Yes, but I don't want to maintain a set of "top lists".

[2016-10-05 22:07] wamatt commented on #35
Np, me neither 😂

[2016-10-25 03:17] jpodwys opened #36 "NET:ERR_CERT_DATE_INVALID"
Trying to load the site in Chrome and getting the following:

![image](https://cloud.githubusercontent.com/assets/5660076/19671863/1bcc1baa-9a2f-11e6-9a14-2ee0f5dda582.png)

First noticed at about 9:10pm MDT.

[2016-10-25 18:39] pvorb commented on #36
Thank you for bringing this up. It seems the automatic letsencrypt certificate renewal does not work. I'll fix it when I come home from work this evening.

Am 25.10.2016 05:17 schrieb Joe Podwys <notifications@github.com>:

Trying to load the site in Chrome and getting the following:

First noticed at about 9:10pm MDT.

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2016-10-25 19:05] jpodwys commented on #36
Awesome, thanks for maintaining this project!

[2016-10-25 19:05] pvorb commented on #36
I fixed the issue by simply restarting Nginx.

#### Background
I am using letsencrypt certificates together with [certbot](https://certbot.eff.org/) for automatic certificate renewal. A cron job checks if a certificate needs to be renewed twice per day. Renewal happened one month ago. But what I didn't think about was that Nginx needs to be restarted to load the new certificates into memory!

[2016-10-25 19:05] #36 closed

[2016-10-25 19:11] pvorb commented on #36
For the ones who are interested:

Certbot now [ships with an Nginx plugin](https://certbot.eff.org/docs/using.html#nginx), which solves this issue.

[2016-10-30 20:49] jdalton commented on #33
Moved to #37.

[2016-10-30 20:49] #33 closed

[2017-01-14 20:32] Sharlaan opened #38 "Suggestion: progression%"
Really loved your stat site, gives a decent overview of the next hypes.

In particular the last chart, from beginning to ending dates, could help calculate progression% over the chosen timespan, whose values would be displayed in the table just below with green/red arrows... bit like a stock exchange leaderboard.

What's yout thought ?

[2017-01-15 01:13] pvorb commented on #38
I like that idea. I think it's worth implementing it but I currently don't have the time to do it.

If you would submit a PR that would be much appreciated, but if not then it's also ok but will take longer until the feature will be available.

[2017-01-31 15:55] dlwebdev opened #41 "Add some styling"
Would you be interested in someone adding some styling to the page? I'd be happy to chip in if so. Maybe just start with some simple bootstrap elements and a navbar? I see there is a navbar there currently not showing anything.

If you're just trying to keep it simple I totally understand.

This site is very useful, thanks for creating it!

[2017-02-06 20:55] pvorb commented on #41
@dlwebdev I don't really see what you want to improve. Can you elaborate on what's annoying with the site in its current form?

[2017-02-07 14:33] #41 closed

[2017-02-07 18:43] pvorb commented on #41
As long as I don't get an answer, I assume everything's fine.

[2017-03-28 19:42] pvorb commented on #34
You are looking for [npm/download-counts](https://github.com/npm/download-counts), I guess?

[2017-03-28 19:46] pvorb commented on #34
It's not: https://api.npmjs.org/downloads/range/2016-01-01:2016-12-31/clone

[2017-03-29 07:02] pvorb commented on #34
Yes, this api is all I use for npm-stat.com, so I knew it had to be possible.

[2017-04-16 10:17] epoberezkin opened #43 "[bug] Chart tooltip is one day back"
See https://npm-stat.com/charts.html?package=ajv
or https://npm-stat.com/charts.html?package=ajv&from=2017-04-01&to=2017-04-16

Particularly on the second one you can see that the date one the axis is correct and in the tooltip (when you mouse-over the dot on the chart) it is one day back

[2017-04-17 18:49] pvorb commented on #43
Yep, I know this issue. It has been introduced in PR #37, but I didn't recognize it before deploying that change and didn't feel like it's that important.

I guess it is caused by some timezone problem. Can you tell me in which timezone you tested this behavior?

[2017-04-17 20:27] epoberezkin commented on #43
In GMT (UTC +1 now)

[2017-08-16 18:27] Dreamiko opened #45 "Calendar select option missing for Firefox Developer Edition"
Hi,

I noticed on Chrome, you can select 'From' and 'To' dates using a calendar. This option is not present when using the Firefox Developer edition browser.

Thanks

[2017-08-20 14:20] pvorb commented on #45
I know that.

Firefox (and maybe also other browsers) doesn't provide a date picker for <input type="date"> but I also don't want to include one.

[2017-08-20 14:20] #45 closed

[2017-08-30 07:24] icyflame opened #46 "API Change: Downloads limited to 18 months, austensibly since 29-08-2017"
I noticed this yesterday and opened https://github.com/npm/registry/issues/206 which consists of all the links etc.

I opened a ticket with NPM support and this is what they replied with:

![image](https://user-images.githubusercontent.com/3668034/29859999-0b37bc36-8d54-11e7-947d-71a7f75534b1.png)

It seems like the best way to move forward on this website is to break periods that are more than 18

[2017-08-31 20:29] pvorb commented on #46
Thanks for pointing this out.

[2017-09-05 20:12] #46 closed

[2017-09-14 09:25] QuantumInformation opened #48 "Site stuck loading with no data"
![image](https://user-images.githubusercontent.com/216566/30422156-fe2520da-9936-11e7-86e8-d9832b1abd2a.png)

[2017-09-15 13:51] alanhogan commented on #48
looks like you have a space before your name. i bet #49 fixes this.

[2017-11-19 21:53] fibo commented on #48
I confirm that few days ago the website was not loading when I entered a user. Now it is working.

[2017-11-25 19:37] damiendube opened #51 "Add support for a compare mode"
I've used this tool a couple of times and my primary use case was to compare the usage trends of competing packages.

Right now, I do that by opening 2 tabs, it would be really nice to have this supported inside npm-stat.com

[2017-11-25 19:43] damiendube commented on #51
I've juste realized it's already supported by entering packages separated by commas

[2017-11-25 19:43] #51 closed

[2017-12-24 10:03] thodorisbais opened #52 "Trailing spaces are not trimmed if provided value is author"
I guess the title is descriptive enough.
I could pick this up if you want.

[2018-03-05 19:23] #48 closed

[2018-03-05 20:55] dpa99c opened #55 "504 Gateway Timeout"
I'm repeatedly getting this error, with no successful loading of the charts after about 10 attempts.
Each time the loading animation spins until the error message shows.

The URL I'm trying is: https://npm-stat.com/charts.html?author=davealden&from=2017-03-04&to=2018-03-04

So requested URL that's failing is: https://npm-stat.com/api/download-counts?author=davealden&from=2017-03-04&until=2018-03-0

[2018-03-08 14:56] dpa99c commented on #55
Seems to work now, so temporary issue I guess

[2018-03-08 14:56] #55 closed

[2018-03-10 22:48] pvorb commented on #55
Looks like the npm registry was temporarily unavailable.

[2018-03-11 12:49] pvorb commented on #52
This was fixed by #49

[2018-03-11 12:49] #52 closed

[2018-03-19 13:22] niteshvudutha opened #56 "How to get npm-stats for a closed network/intranet ?"
Im not sure whether npm-stats works for public repositories alone.
Ours is a closed network.
So, we have our github integrated into client domain as github.client_name.net.
For security reasons, Im not mentioning client name.

Can you tell me what is the approach for getting npm-stats in this scenario?

[2018-03-21 20:02] pvorb commented on #56
I'm using the [download counts API](https://github.com/npm/registry/blob/master/docs/download-counts.md) which won't work if you're serving npm from an internal npm instance. I don't get what this has to do with GitHub? npm-stat.com shows download-counts from npmjs.com. Downloads from GitHub are *not* included.

[2018-03-21 20:02] #56 closed

[2018-05-05 12:02] mrsteele opened #57 "403 error"
Is it just me or did npm block you?

I get a big red box now and an html error response. If you get into the body of the page it eventually says:

Could be just me but I figured I would open something here.

[2018-05-05 14:43] CodeMan99 commented on #57
I am also getting this response. https://gist.github.com/cba271df7f2f8d11def3e93bc5f0251e

The good news is you can now format your error handling better. This is a JSON object with a single "message" property. Inside the message property there is a string description followed by an HTML page. You might want to `iframe` the HTML?

[2018-05-05 21:49] pvorb commented on #57
Thank you for your hints. I asked the folks of npm, Inc. if there is a way around this.

Just presenting you the error page's HTML is quite lousy and leaks many implementation details, I know. That was just the easiest way of giving users a hint of what's going on and makes debugging easier for me. :wink: I'll probably get this right once the service is up again.

[2018-05-06 02:53] Dan503 commented on #57
I'm getting the same issue.

https://npm-stat.com/charts.html?package=mq-scss&from=2016-11-01&to=2018-05-06

This is the full error message that I am getting:

[code]
This is what the error looks like when you save the "content" property as an HTML file

----

![html-version-of-error](https://user-images.githubusercontent.com/10610368/39669294-50dccc7c-512b-11e8-8b5f-171ea2ce0f3d.png)

----

Inter

[2018-05-06 03:04] CodeMan99 commented on #57
I see that you seem to be making the request server-side and proxying their npmjs API. I wonder if it would be better to do the API request client side? This way ever user of npm-stat.com is also a user of the API, instead of just one location.

This would complicate getting data store centrally in your server of course. It also doesn't help that the npmjs api does not seem to provide a "Modified-

[2018-05-06 12:02] pvorb commented on #57
@Dan503 That is because I store download counts into a TimescaleDB and only request gaps from the NPM API. This is intended for keeping the pressure on their API as low as possible.

[2018-05-09 16:19] pvorb commented on #57
Maybe if more users of npm-stat.com voted for npm/download-counts#41, this issue would more likely attract the attention of npm staff. Just mentioning this because many are voting for the issue of npm-stat.com but the other issue is where the real problem is.

[2018-05-12 18:51] pvorb commented on #57
@CodeMan99 Thanks for the hint. I followed your suggestion here: https://github.com/npm/registry/issues/319

[2018-05-14 23:28] pvorb commented on #57
The folks at npm disabled Cloudflare's Browser Integrity Check (see https://github.com/npm/registry/issues/319#issuecomment-388981233). That means, npm-stat.com is working again. :tada:

[2018-05-14 23:28] #57 closed

[2018-05-15 13:14] mrsteele commented on #57
@pvorb This is great news!

Coincidentally had my a PB for daily downloads, check it out: https://npm-stat.com/charts.html?package=dotenv-webpack

[2018-05-17 10:04] christian-bromann opened #58 "Get download stats by author doesn't work anymore"
If you select "Author" in the dropdown npm-stat is not able anymore to get stats by author. It says:

[code]

Url is https://npm-stat.com/charts.html?author=<username>&from=2017-05-16&to=2018-05-16

[2018-06-04 06:22] SupriyaKalghatgi opened #59 "Stats not updated since 5 days"
![image](https://user-images.githubusercontent.com/13464885/40901422-cc6a6484-67ed-11e8-9777-5c8db4e8cbbe.png)

[2018-06-04 13:35] mrsteele commented on #59
This is definitely an issue with npm. If you look at other services these numbers are the same.

[2018-06-05 06:11] SupriyaKalghatgi commented on #59
@mrsteele Which are the other services

[2018-06-05 12:53] mrsteele commented on #59
http://npm-stats.org/#/dotenv-webpack
http://www.npmtrends.com/dotenv-webpack
http://npm-stats.com/~packages/dotenv-webpack

Notice all of them drop at the end. Crazy enough I just check npmjs.com exclusively and it also shows no downloads last week: https://www.npmjs.com/package/dotenv-webpack

[2018-06-05 13:29] mrsteele commented on #59
Looks like npm updated their status page: https://status.npmjs.org/
They also tweeted: https://twitter.com/npmstatus/status/1003690434760093696

[2018-06-09 15:57] pvorb commented on #59
Thanks for bringing this up.

(For some reason I didn't receive email for this issue. Might have to check my notification settings.)

[2018-06-11 13:00] mrsteele commented on #59
@Dan503 I think it has sorta always worked like that. NPM has the latest and greatest download counts and the API is normally ~1 day behind.

Not to mention the status page still has the issue being worked on: https://status.npmjs.org/incidents/b4ktc38pypd1

[2018-06-12 06:22] SupriyaKalghatgi commented on #59
What about the count of downloads for last week of May?
![image](https://user-images.githubusercontent.com/13464885/41273404-f42cca12-6e36-11e8-9da1-0b7b8a8954cb.png)

[2018-06-12 13:28] mrsteele commented on #59
If you choose to watch a couple of big guys, they are all over the place. The status shows they are still working to resolve it so I don't think its working yet.

Also @SupriyaKalghatgi I wouldn't be surprised if that data is lost. It would be great if it was recovered but don't hold your breathe.

[2018-06-14 18:41] pvorb commented on #59
From the npm status page:

So probably everything will be fine again by tomorrow.

[2018-06-14 19:47] pygy commented on #59
Some packages are [mostly fine](https://npm-stat.com/charts.html?package=compose-regexp) (comparable to what other charting sites show):

![screen shot 2018-06-14 at 21 43 33](https://user-images.githubusercontent.com/54515/41434486-3127291c-701c-11e8-86f2-c09657c2783e.png)

while others [aren't](https://npm-stat.com/charts.html?package=mithril):

![screen shot 2018-06-14 at 21 44 01](https://user

[2018-06-14 20:55] pvorb commented on #59
Good point. I deleted all values since 2018-05-24 and most of the values are now available again.

[2018-06-15 05:56] SupriyaKalghatgi commented on #59
Stats not updated since June 12
Reopen this issue

[2018-06-15 11:11] jdalton commented on #59
Is this something @pvorb can control other than clearing any cache on the site?
I mean there's nothing actionable here from @pvorb is there?

[2018-06-15 11:15] pvorb commented on #59
@jdalton I'll check if I need to clear the cache this evening. Not sure whether there's something else I can do right now.

[2018-06-15 11:19] jdalton commented on #59
No worries! Thanks for keeping this great tool kicking 😺

[2018-06-17 06:01] Dan503 opened #60 "View by author not working :/"
I tried looking up my downloads stats
https://npm-stat.com/charts.html?author=dan503&from=2016-11-01

It came back with this error:
[code]

As you can see here, the dan503 author most definitly exists:
https://www.npmjs.com/~dan503

[2018-06-17 23:04] pvorb commented on #60
Duplicate of #58

[2018-06-17 23:04] #60 closed

[2018-06-17 23:08] pvorb commented on #58
npm-stat.com used to query the npm registry in order to get all packages of an author (e.g. https://registry.npmjs.org/-/_view/browseAuthors?group_level=2&start_key=pvorb&end_key=pvorb). As you can probably see, this API is pretty much implementation specific.

The request no longer works and I have no idea if there is another way to get all packages by an author, but I also didn't invest much tim

[2018-06-18 02:22] SupriyaKalghatgi commented on #59
0 on 12th
fine on 13th
again 0 from 14th

![image](https://user-images.githubusercontent.com/13464885/41515405-7842e16c-72cc-11e8-9379-bc0e4b02af8f.png)

[2018-06-19 01:30] kanekotic opened #61 "404 for packages from user"
for a few weeks now i am getting 404 when looking for stats of my user
![screen shot 2018-06-19 at 03 26 58](https://user-images.githubusercontent.com/3071208/41570912-0cd61ac0-7371-11e8-8368-0806f4e7afab.png)

[2018-06-19 01:31] #61 closed

[2018-06-19 01:31] kanekotic commented on #61
is duplicated just noticed

[2018-06-19 01:34] kanekotic commented on #58
so you could ask @matteofigus still can get stats for all packages https://github.com/matteofigus/npm-stats-www

[2018-06-21 13:12] mrsteele commented on #59
Just wanted to mention that I believe this to be fixed on npm, but the bug still is intermittent on npm-stat.com. You had mentioned cache earlier and I wouldn't be surprised if that was the case in this instance.

Compared with similar services:
https://npm-stat.com/charts.html?package=dotenv-webpack
vs
https://npmcharts.com/compare/dotenv-webpack

A word of warning is status.npmjs.org is still re

[2018-06-21 20:04] pvorb commented on #58
@kanekotic Thanks for pointing me into the right direction. I looked into the implementation, which is using the package "npm-stats" and changed to the CouchDB view that is used in that package.

So, finally, author stats are working again! :tada:

[2018-06-21 20:04] #58 closed

[2018-06-21 20:08] pvorb commented on #59
That's a little annoying.

I don't know when the numbers returned by the API can be considered final, so I can put them in the cache. I cleared the cache again and will check again in a few days.

[2018-06-25 07:54] simov opened #62 "Why the first ever recorded date is 2015-02-27"
Just wondering. There might be an info about it somewhere but I couldn't find it, and I'm seeing that this project is older than that.

[2018-06-25 16:29] pvorb commented on #62
A while ago the people from npm removed all downloads before that day. That's part of why I started storing all values (that have been requested before) in my own database.

[2018-06-25 16:42] simov commented on #62
Interesting, I didn't know that they were storing the downloads historically back then. Well, I guess `2015-02-27` is better than nothing. Thanks :+1:

[2018-06-25 16:42] #62 closed

[2018-06-25 16:54] pvorb commented on #62
I think the API existed since around mid 2012.

[2018-06-26 03:58] kanekotic commented on #58
@pvorb you're welcome I just pass a repo, you did the awesome job of implementing it 😄
Thanks a lot for the great project

[2018-06-29 09:41] SupriyaKalghatgi commented on #59
No count from Jun 23rd onwards

[2018-07-13 03:37] catcher-in-the-try opened #63 "Stats by author doesn't work when you publish a new package"
I use the statistics by author name (instead of by package name).

For a few days after the author publishes a new package, stats won't show with an error "Package `<new-package-name> does not exist`.

Expected: ignore packages that are not cached by npm-stat, generate the stats anyway.

[2018-07-15 10:20] steelbrain opened #64 "SQL error when requesting stats by author"
URL: https://npm-stat.com/charts.html?author=steelbrain&from=2015-07-15&to=2018-07-14

JSON response: https://gist.github.com/steelbrain/fd9d27b7c0a515a23d479f0d9551d023

How it was rendered in the browser:
<img src="https://user-images.githubusercontent.com/4278113/42732872-7c6527ec-8842-11e8-9c58-6d23e00818a6.png" />

[2018-07-19 08:53] entronad opened #65 "How did you get the origin data from npmjs.com ?"
@pvorb
I am doing a project witch may use the real-time download count data just like your website.
By reading your code I find it seems that your backend get data from your own database.
So I politely ask that How did your get the origin real-time data from npmjs.com ? Is there any open APIs or did you get it by scraping?

[2018-07-23 21:22] pvorb commented on #59
I just deployed an update (b2606f5) that changes the caching behavior to the following:

* Numbers that are older than a week will be stored regardless of their value
* After that, numbers are only stored in the cache if they are not equal to zero

I believe this should prevent storing zeros that will change to some non-zero value in the future. This change comes at the cost of additional requests

[2018-07-24 22:16] pvorb commented on #64
I couldn't reproduce the issue, but I've updated the service since you opened this issue, so I guess it's fixed now.

Could you please confirm this is no longer an issue?

[2018-07-24 22:18] pvorb commented on #65
This has been asked several times.

See npm/download-counts

Search for other issues if you want to know more.

[2018-07-24 22:18] #65 closed

[2018-07-24 22:21] pvorb commented on #63
I won't change the behavior for packages that are only a few days old. You simply need to wait until numbers show up. This service is intended for inspecting downloads over long periods of time.

[2018-07-24 22:21] #63 closed

[2018-07-25 01:03] entronad commented on #65
@pvorb Tanks!

[2018-07-27 23:09] pvorb commented on #59
My recent update seems to have fixed the problem.

[2018-07-27 23:09] #59 closed

[2018-08-01 13:25] johnbrett commented on #64
I recently tried a search and got this error, but then searched again and it didn't happen. Not sure if that'll help with debugging :/

[2018-08-01 17:57] pvorb commented on #64
Well, could you be a little more precise what you mean with "recently"?

[2018-08-02 09:55] johnbrett commented on #64
Oh apologies :) I'd meant like 30 minutes before I posted the comment.

[2018-08-05 18:07] mrsteele commented on #59
Hate to say it but the DL counts are at 0 for the past two days. May be back...

[2018-08-06 19:51] mrsteele commented on #59
hmm, false alarm maybe cache.

If it happens again I'll take a picture ;)

[2018-08-07 07:29] pvorb commented on #59
It could have been an availability problem with the npm api. That's part of why I introduced the cache.

[2018-08-31 09:33] karimation opened #66 "Could not fetch data. 530 error"
`Could not fetch data. 530 error {"message":"feign.FeignException: status 530 reading DownloadsClient#getPackageDownloadsForTimeRange(String,LocalDate,LocalDate); content:\n<!DOCTYPE html>\n\n\n\n <html class=\"no-js\" lang=\"en-US\"> \n<head>\n<title>Origin DNS error | redis-downloads-2-west.internal.npmjs.com | Cloudflare</title>\n<meta charset=\"UTF-8\" />\n<meta http-equiv=\"Content-Type\" con

[2018-08-31 19:03] pvorb commented on #66
So this seems to have been a temporary issue or do you still see 530 errors? I saw one this morning, but now they seem to be gone.

Please re-open if you still see them.

[2018-08-31 19:03] #66 closed

[2018-09-04 20:35] limonte opened #67 "502 Bad Gateway"
![image](https://user-images.githubusercontent.com/6059356/45056305-2b704e80-b09b-11e8-8976-73694306f88f.png)

[2018-09-04 22:28] pvorb commented on #67
Sorry for the inconvenience. Somehow Tomcat did not survive a server restart by my hosting service. The site is now up again.

[2018-09-04 22:28] #67 closed

[2018-09-22 10:15] SimenB opened #68 "Add possibility to embed"
It would be lovely to embed a graph into another document instead of taking screenshots

[2018-09-23 12:49] pvorb commented on #68
Thank you for the idea. I currently have no plans to implement this, but I’ll keep this issue open until I have some spare time.

[2018-09-30 17:43] kanekotic opened #69 "New packages cause error in user level query"
Packages that are too new will cause an error while querying a user packages stats. As seen in the next image:

<img width="538" alt="screen shot 2018-09-30 at 19 40 49" src="https://user-images.githubusercontent.com/3071208/46260633-c4528800-c4e8-11e8-9949-e3df7d7c5a80.png">

Is it possible to add a filter to the query for this cases? 🤔

[2018-09-30 21:03] pvorb commented on #69
How could npm-stat tell the difference between packages that do not exist and packages that have no data yet? If your package is new you might be able to figure out the reason on your own, don't you think so?

[2018-09-30 21:46] kanekotic commented on #69
sorry I am reading my description and is too vague.
Let me add this is by doing a query for my user, and not for the individual package. Hence my question if its an iteration if there is a way of filter failure of single packages.

[2018-10-03 15:35] 19majkel94 opened #70 "Wrong date label in tooltip"
![image](https://user-images.githubusercontent.com/10618781/46421537-93fe2a00-c732-11e8-92b9-a4805c6ba872.png)

The point for October 1 shows value for September 30 😕

https://npm-stat.com/charts.html?package=type-graphql&from=2018-08-15&to=2018-10-04

[2018-10-03 15:37] pvorb commented on #70
Closing as duplicate of #43

[2018-10-03 15:37] #70 closed

[2018-10-03 15:39] pvorb commented on #69
Ah, right. I got it now. This could be improved.

[2018-11-02 16:36] dherault opened #71 "Donation link is in German"
When I click on Donation it opens a Paypal page in German. English or my own locale would be appreciated.

[2018-11-02 19:03] pvorb commented on #71
Thanks for mentioning. I might be wrong, but I remember it was in English, when I last checked. I'll try to figure out how to change this back to English or use the browser locale.

[2018-11-02 19:35] pvorb commented on #71
I'm not quite sure how this works. I changed the locale of the button to en-US (it previously was en-DE, which I've never seen before), but nothing changes for me. The donation page remains German. Probably there is some aggressive caching involved, so this might take a while. If this doesn't work, I'm unsure how to do it.

[2018-11-04 11:06] donmbelembe commented on #59
This problem is back

[2018-11-19 09:49] thetruth97 commented on #71
I need English

[2018-11-19 20:44] thetruth97 commented on #69
What is this

[2018-11-20 16:47] pvorb commented on #69
@thetruth97 Could you elaborate?

[2018-11-22 02:44] atomiks opened #72 "Fill in gaps due to 0 downloads issues"
Your tool is the best one out of the different npm charts in my opinion!

It seems lately npm has had quite a lot of days with 0 downloads due to issues. It would be cool if by default there was an "estimated" downloads (blue dots/lines?) in the chart based on previous downloads to fill them in as they really make the data quite noisy. They would be marked as estimated and noted that there was an

[2018-11-25 09:05] pvorb commented on #71
The donation page is in English now. Unfortunately PayPal ignores the browser's settings, so I had to change the **country** [sic] of the donation button to the United States. Changing the language of the button was not enough... :man_facepalming:

[2018-11-25 09:05] #71 closed

[2018-11-25 10:56] pvorb commented on #72
Thanks for your request.

I believe this is quite hard to do in highcharts, which I'm using to draw the graphs.

Additionally, this would add a lot of complexity to the service, but the benefit is questionable in my point of view. What does this estimated number really tell you? Probably it would be better to not draw a point at all for days with zeros? I'm not sure.

I think it would be better to

[2018-11-25 11:43] #69 closed

[2018-11-26 02:04] atomiks commented on #72
It seems like the official npm API returns 0 downloads as well. I think they weren't counting downloads on certain days (due to some issue), so there's no way to recover the data, hence the need to create an estimate to fill it in

[2018-12-12 21:52] pvorb commented on #72
As there were no gaps for the last few weeks, I won't implement this feature.

[2018-12-12 21:52] #72 closed

[2019-02-03 11:12] epoberezkin opened #73 "Feature: downloads leaderboard"

[2019-02-03 11:46] epoberezkin commented on #43
looks fixed

[2019-02-03 12:46] pvorb commented on #73
There is a database right now, but it only serves as a cache. The problem is that I don't download the numbers for all the packages every day, but only those that are requested. The numbers are then persisted and won't be downloaded again.

For the feature you requested, the first thing to do would be to get the list of all packages every day, and then download the counts for every package.

While

[2019-02-03 14:44] pvorb commented on #43
Are you still in UTC+1? Because I haven't changed the calculation, I think.

[2019-02-03 18:09] epoberezkin commented on #43
Maybe it’s because it’s UTC now...

[2019-02-03 18:11] epoberezkin commented on #73
I see. But it should be relatively simple to see and maintain top 10 of all requested by updating daily top 100 of all requested.

[2019-02-03 18:33] pvorb commented on #73
But if it only included the top X of requested packages, how helpful would that statistic be?

[2019-02-03 19:08] epoberezkin commented on #73
The idea is that sooner or later most important packages will be requested. I meant "show top 10 of top 100 **ever** requested packages"

[2019-02-03 19:11] epoberezkin commented on #73
So trying to have the full list of all packages, you'll let the visitors to create the lists of important packages and updating them daily. Or maybe a good start could be to download stats of these packages: https://gist.github.com/anvaka/8e8fa57c7ee1350e3491

[2019-02-03 22:33] pvorb commented on #43
That sounds likely.

[2019-02-03 22:41] pvorb commented on #73
There's a complete list of all packages at https://replicate.npmjs.com/_all_docs. Maybe I can use that for downloading all package stats in a daily cron job...

[2019-02-11 09:43] larryg01 opened #74 "Author download count not working"
The Author download count is not working its stuck on 5K : meaning that when you have it on your page it reads 5K and stays there but when you click the button and it takes you to the site the count is over 7K : am i correct i thinking that the number should change by the 'k' i.e. 5k 6k 7k etc

[2019-02-11 13:24] pvorb commented on #74
How did you include a counter or button in your page? I don't provide such a feature.

[2019-02-11 13:31] larryg01 commented on #74
it should be the 'project' download count, sorry . my bad not sure what i was thinking
i am using this to show the button on my page https://shields.io/category/downloads

[2019-02-11 16:02] pvorb commented on #74
This is not related to npm-stat.com. I don't know how they calculate the numbers. Maybe it's not updated regularly. The numbers on npm-stat.com are polled on demand from the npm API and change every day.

[2019-02-11 16:02] #74 closed

[2019-02-27 05:06] atomiks opened #75 "Feature: downloads projection"
Estimate how many downloads a package will be getting in the future (up to 1 year I guess), using a dotted line

[2019-02-27 06:57] pvorb commented on #75
That's hard to do and will certainly lead to wrong expectations. I'm not going to implement this feature.

[2019-02-27 06:57] #75 closed

[2019-02-28 01:47] kumavis commented on #64
I get the same `ERROR: duplicate key value` for https://npm-stat.com/charts.html?author=kumavis

[2019-04-02 09:44] villesau commented on #4
@pvorb @isaacs is this still the case? Counts per version would be super useful to track how the users have been able to update their packages. This would help with communication and considering backwards compatibility and migration paths etc.

[2019-04-02 10:02] pvorb commented on #4
To my knowledge yes, this is still the case.

[2019-04-14 20:32] limonte opened #76 "SSL certificate for npm-stat.com is expired"
https://travis-ci.org/sweetalert2/sweetalert2.github.io/builds/520004855

![image](https://user-images.githubusercontent.com/6059356/56098826-814c8500-5f0d-11e9-9e03-a0e357375e71.png)

![image](https://user-images.githubusercontent.com/6059356/56098831-8a3d5680-5f0d-11e9-80ae-53b536f629fa.png)

[2019-04-14 21:15] pvorb commented on #76
Sorry, certbot failed to upgrade and thus failed to update the certificate. The certificate is up-to-date again. You should be able to re-run your build-pipeline.

[2019-04-14 21:15] #76 closed

[2019-04-14 21:22] limonte commented on #76
All good now, thank you @pvorb for the prompt fix!

[2019-04-18 14:44] emyann opened #77 "502 Bad Gateway on /api/download-counts"
Thank you for this service! 👍🏽 This issue likely is a duplicate of #67 and #55  I guess, but the API call toward `/api/download-counts` fails with a 502 Bad gateway.

[2019-04-18 16:17] pvorb commented on #77
I have an idea where this might come from, but I have no time to fix it today. Might get to it tomorrow.

[2019-04-18 16:22] emyann commented on #77
@pvorb Take your time, I just wanted to be sure, you were aware of the issue. Thank you in advance for the fix!

[2019-04-19 10:44] limonte opened #78 "npm-stat.com is down"
https://downforeveryoneorjustme.com/npm-stat.com

![image](https://user-images.githubusercontent.com/6059356/56420998-21593400-62a9-11e9-8cb3-4ecc6b8dfb08.png)

https://travis-ci.org/sweetalert2/sweetalert2.github.io/builds/521874516

![image](https://user-images.githubusercontent.com/6059356/56421017-4057c600-62a9-11e9-8425-aed5915d9549.png)

[2019-04-19 10:46] limonte commented on #78
You might want to use some service like https://uptimerobot.com/ it's free for checks every 5 minutes.

[2019-04-19 15:08] pvorb commented on #78
I'm already using it, but it doesn't magically bring the site up again. Duplicate of #77.

[2019-04-19 15:08] #78 closed

[2019-04-19 15:28] pvorb commented on #77
It's fixed for now. I'm still not 100 percent sure what caused the failure, so this might come back again.

I'm staying with my family over the Easter holidays and can't get to a laptop instantly. Please reopen this ticket or create a new one if the issue comes back.

[2019-04-19 15:28] #77 closed

[2019-04-19 17:15] limonte commented on #78
I would love that kind of service 😁

[2019-05-22 21:29] MoOx commented on #64
I just faced this issue. Then I waited a little, & then, while trying again after having prepared an issue & trying to double check the problem, issue was gone!

[2019-06-02 22:36] ozzyogkush commented on #43
I'm seeing this issue and I am in Eastern Time.

[2019-06-18 17:35] kanekotic commented on #58
@pvorb seems this is starting to happen again

[2019-06-25 16:52] kanekotic opened #79 "Get download stats by author doesn't work anymore"
#58 Started happening again.

If you select "Author" in the dropdown npm-stat is not able anymore to get stats by author. It says:
[code]
Url is https://npm-stat.com/charts.html?author=kanekotic&from=2019-06-03&to=2019-06-12

[2019-06-25 17:48] pvorb commented on #79
Yes, I see. Unfortunately I currently have no time to fix this.

[2019-06-26 11:21] kanekotic commented on #79
yep no problem. Same here, just wanted to report it, I will have a look if i get a bit of time 😄

[2019-07-08 13:28] #79 closed

[2019-07-08 13:39] pvorb commented on #79
I updated the service. This should be fixed now. Please report back if it doesn't work for you.

[2019-07-08 16:11] kanekotic commented on #79
check it works great... thanks a lot for the effort of keep the page runing

[2019-09-24 08:38] vlzhr commented on #43
Looks like the bug appears in a chart generation. The plain API stat is [correct](https://npm-stat.com/api/download-counts?package=%40waves%2Fsurfboard&from=2019-07-24&until=2019-09-24) while the chart [lies](https://npm-stat.com/charts.html?package=%40waves%2Fsurfboard&from=2019-07-24&until=2019-09-24)
![image](https://user-images.githubusercontent.com/22869641/65495595-af23f580-debf-11e9-9523-60

[2019-09-24 15:56] pvorb commented on #43
@ozzyogkush

npm-stat.com cannot give numbers before a day is over, since NPM starts calculating the numbers on midnight UTC.

@vlzhr Yes, everything is fine in the back end, but time zones in JavaScript are awful. Highcharts uses `Date` objects for displaying the x-axis and 2019-09-23T00:00:00Z might be displayed as Sunday, Sep 22, 2019 if your offset from UTC is negative.

[2019-11-05 03:11] nebrelbug opened #82 "Zoom Broken"
https://npm-stat.com/charts.html?package=squirrelly&from=2017-01-01&to=2019-11-03

Downloads per day doesn't allow zoom

[2019-11-05 06:46] pvorb commented on #82
It does for me. What browser and OS are you using?

[2019-11-06 00:57] nebrelbug commented on #82
@pvorb Linux and Chrome. Before I was using Windows + Chrome and had the same issue

[2019-11-06 00:57] nebrelbug commented on #82
It shows the highlight when I click and drag, but when I close click it just resets the drag start position

[2019-11-15 15:11] seam345 opened #83 "Daylight saving skipping/duplicating days"
Daylight saving time causes a duplication and skip of 1 day depending on which way the clock moves.
I'm in UK and daylight saving started 01:00 on Sunday, 31 March and ended at 02:00 on Sunday, 27 October.

[March 31 appears twice ](https://npm-stat.com/charts.html?package=node-red-contrib-trello-functions&package=node-red-contrib-trello&from=2019-03-29&to=2019-04-02)
[October 27 is skipped](https

[2019-11-15 15:18] seam345 commented on #43
looks like this is linked to the issue I just opened #83 where I noticed the timezone moving forwards has caused it to duplicate a date and going back has caused it to skip a date. This results in the graph appearing as above.

[2019-11-15 15:20] seam345 commented on #83
Closing as it appears to be the reason we have issue #43

[2019-11-15 15:20] #83 closed

[2019-11-18 01:57] Juliiii opened #84 "Internal Server Error"
when i try to get the download datas on yesterday, i found it

![image](https://user-images.githubusercontent.com/23744602/69018869-405ba800-09e9-11ea-8610-42154ef5e9c9.png)

please fix it. thx!

[2019-11-18 08:01] pvorb commented on #84
I currently have no access to my personal laptop, but I'll look into it asap.

Am 18. Nov. 2019, 02:57, um 02:57, Juli <notifications@github.com> schrieb:

[2019-11-18 09:11] Juliiii commented on #84
@pvorb thx.Looking forward to your reply.

[2019-11-18 13:26] pvorb commented on #84
Seems to have fixed itself

[2019-11-18 13:26] #84 closed

[2019-11-19 01:51] Juliiii commented on #84
@pvorb it seems that it will happen when request yesterday download datas before 10 a.m.  in china.

[2019-11-29 00:54] nebrelbug commented on #82
@pvorb tested on Firefox as well. Note that the problem is only with the "Downloads per Day" chart, all the other charts work fine

[2019-11-29 06:11] pvorb commented on #82
Yeah, I could also reproduce it. But I have no idea what feature highcharts relies on, that no longer works in browsers. I'll probably have to update highcharts.

[2019-12-05 13:40] hansiemithun opened #85 "All Weekly downloads are Zero"
Application seems to be broken or consists of a bug. Considering Vue as an example and tried to get weekly downloads, it shows 0. Tried with other libraries as well, everything is 0

[2020-01-23 03:47] nebrelbug commented on #82
Hi @pvorb! Some additional info - the error says
[code]

[2020-02-28 21:43] pvorb commented on #85
I can't follow.

[2020-02-28 21:43] #85 closed

[2020-03-20 18:59] MichalLytek commented on #85
@pvorb
The last update for many packages is from 17th March:
https://npm-stat.com/charts.html?package=vue&from=2020-03-17&to=2020-03-31

[2020-04-04 11:21] caroso1222 opened #90 "UI Enhancement"
I love this project, thanks for the hard work!

Would you be willing to accept suggestions & PRs to improve the UI a bit? It's fine if your purpose is to keep it simple, too. Just reaching out to offer some help in that regard, if needed.

[2020-04-05 20:27] pvorb commented on #90
I'm glad you like it.

Before putting much work in a PR, could you elaborate a litte? What would you improve and how?

[2020-04-08 19:55] vatson commented on #82
Vote for too. I came across the same behavior that @nebrelbug described.

My system specs:
OS: macOS 10.13.6
Tested browsers: Chrome 80.0.3987.149, FireFox 74, Safari 13.1 (13609.1.20.111.8)

<img width="1037" alt="Screen Shot 2020-04-08 at 10 50 58 PM" src="https://user-images.githubusercontent.com/365720/78827256-7971d480-79eb-11ea-8a8c-029402768252.png">

[2020-04-09 16:06] caroso1222 commented on #90
Thanks for replying. Closing this. Shifted focus to something else.

[2020-04-09 16:06] #90 closed

[2020-04-09 21:17] vatson commented on #82
UPD: @pvorb I found a dependency with a choice of date range over 33 months. If the user selects more than this range then the zoom stops working

[2020-07-06 15:44] marvinhagemeister commented on #64
Just ran into the same error when checking the stats for my username.

URL to reproduce: https://npm-stat.com/charts.html?author=marvinhagemeister&from=2019-07-05&to=2020-07-05

[2020-07-06 17:57] pvorb commented on #64
@marvinhagemeister It takes a while but it works without a problem for me. Can you please try again?

[2020-07-06 18:44] marvinhagemeister commented on #64
@pvorb Weird, you're right it works now. Not sure what changed :shrug:

[2020-07-06 19:22] pvorb commented on #64
I know that npm returned 500 errors today, so probably this was the cause.

[2020-07-06 19:24] steelbrain commented on #64
Guess from personal experience: When you request the stats once, even if you abort the network connection, the request continues, so if you make a subsequent request you get this error.

Fix is to just wait for the first request to finish, after it finishes, the results are cached. So you can request again and it'll respond from cache and it'll work fine.

[2021-04-21 11:27] pana-cc commented on #68
I would love to embed this on some of my repositories. I'd be happy even if it had a link back to npm-stat.com and your ads, npm-stat.com has served me well through the years. <3

[2021-11-20 18:09] benmccann opened #106 "Cumulative downloads chart"
I'd love to see a chart that shows the total number of downloads as a running total instead of just the per-week or per-month numbers

[2021-11-20 18:36] pvorb commented on #106
The problem with that is that this piece of software has to rely on npm's API, which only delivers a count for each day. And npm doesn't store these numbers forever. So I only could provide the running total for the provided time frame.

[2021-11-20 18:43] benmccann commented on #106
That'd still be pretty cool though. Especially in my case where I want to link to it for a library that's only a year old, so that basically would cover the whole time since inception

[2021-11-24 07:41] willin commented on #64
[code]

[2021-11-24 19:15] pvorb commented on #106
If you lib is that new, yoi can just look at the current year or the last two years and that's your total, right?

[2021-11-24 19:21] pvorb commented on #64
Yep, that's the same problem. The transaction fails because of two concurrent writes. I could add a retry mechanism, but I think this problem is quite rare and fixed by reloading the site.

[2021-11-24 19:23] benmccann commented on #106
yeah. I wanted a chart with cumulative running total instead of weekly/month numbers

I ended up building it myself: https://kit-stats.netlify.app/. I still think it'd be a cool feature for npm-stat.com though :smile:

[2022-01-07 01:03] webketje opened #107 "Daily downloads chart zoom broken"
When trying to zoom on the first (daily downloads) chart the selected area keeps jumping and doesn't zoom.
Hitting reset removes the selection but no zoom happens.
This only happens to the first chart, all others work as advertised

Tested this on Firefox 80 & Chromium 85 on Linux Mint.

See attachment for demo (**turn off sound first to spare your ears, system noises**)

https://user-images.githu

[2022-01-07 19:26] NullVoxPopuli commented on #4
even in 2022? :upside_down_face:

[2022-01-07 19:26] NullVoxPopuli commented on #4
(where do we go to look to see if this is supported, so we can stop bothering this issue?)

[2022-01-07 20:16] pvorb commented on #4
[Nope, it doesn't look like it's supported now.](https://github.com/npm/registry/blob/master/docs/download-counts.md)

[2022-02-26 10:29] TiagoCavalcante commented on #107
@webketje seems this already was fixed.

[2022-02-26 20:44] webketje commented on #107
@TiagoCavalcante it does seem like it, thx

[2022-02-26 20:44] #107 closed

[2022-02-27 20:53] pvorb commented on #107
😕  That's strange. I didn't change anything.

[2022-02-27 20:54] TiagoCavalcante commented on #107
@pvorb I guess that was a problem in the plotting library.

[2022-05-04 10:10] zloirock opened #115 "An error on loading data to this date"
On any package, from any date, to this date - the previous works fine.

![image](https://user-images.githubusercontent.com/2213682/166662204-69ceafe1-c426-4db4-8cda-f9c098388fe0.png)

[2022-05-04 17:20] fwang commented on #115
We are experiencing the same issue.

[2022-05-05 17:31] pvorb commented on #115
Whoops! I freed some space on the server but as I don't want to lose old data, it'll take me some time to really get rid of this problem.

[2022-08-03 06:29] pygy opened #119 "No data on July 21, and for the last 48 hours"
Hey Paul,

It looks like npm-stat.com hasn't been getting fresh data for the last two days. Also, data for July 21 is susiciously low (0) all across the board

This is what I see for React:
<img width="213" alt="Screenshot 2022-08-03 at 08 29 45" src="https://user-images.githubusercontent.com/54515/182539552-5dcdeec1-13a6-4a2e-a140-9e0be0ec57b8.png">
.

[2022-08-04 21:37] csandman commented on #106
I also came here to leave an issue about this, I think this would be a great feature.  Even if it was just a running total of the values in the range selected, I think it would be cool to see total downloads in terms of a curve!

[2022-08-09 22:55] pvorb commented on #119
For some reason, npm didn't count any downloads on July 22: https://api.npmjs.org/downloads/point/2022-07-22:2022-07-22

The numbers for the first few days of August are available now, though.

I don't see any errors on npm-stat.com's side.

[2022-08-09 22:55] #119 closed

[2022-08-10 14:58] pygy commented on #119
Ah, ok, sorry for the noise.

[2022-08-11 08:23] pvorb commented on #119
No problem at all

[2022-10-29 22:35] pvorb opened #121 "npm-stat.com downtime"
npm-stat.com will be down for a while due to maintenance

[2022-10-30 00:17] #121 closed